body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 165);
}


button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

button:hover {
  background-color: darkblue;
  transition: all 0.7s ease-in-out;
}

.secondary-button {
  background-color: rgb(245, 112, 56);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.secondary-button:hover {
  background-color: rgb(156, 48, 1);
  transition: all 0.7s ease-in-out;
}

.our-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.feature-card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.petName {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.good {
  color: green;
}

.bad {
  color: red;
}
.coolButton {
  background: linear-gradient(to right, blue, red);
  background-size: 200% auto;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.coolButton:hover {
  background-position: right center;
  transition: all 0.7s ease-in-out;
}
